@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #20181f;
  color: #fff;
}

h1 {
  color: #c662ff;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 20px;
}

button {
  border: none;
  background-color: #ae27ff;
  color: #fff;
  padding: 1px 15px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
}

button:hover {
  background-color: #7d19b8;
  transition: 100ms;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 30px 0;
  width: 100%;
  padding: 0 20px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 800px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 10px;
  transition: 300ms;
  overflow: hidden;
}

li:hover {
  border: 1px solid #ae27ff;
  background-color: #271d26;
}

.song-info > img {
  width: 50px;
  border-radius: 5px;
  vertical-align: middle;
}

.song-info {
  white-space: nowrap;
}

.title-artist {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  white-space: nowrap;
}

.title-artist h2 {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 400px;
}

.title-artist p {
  font-size: 0.8rem;
}

span {
  white-space: preserve nowrap;
  color: rgb(255, 255, 255, 0.5);
}

#loading {
  margin-top: 10px;
}

.title-artist span {
  display: none;
}

@media screen and (max-width: 600px) {
  li > span {
    display: none;
  }
  .title-artist span {
    display: block;
    font-size: 0.8rem;
  }
}
